@import url(../schlack/style.css);

#kiwi {
  background: #222;
  color: #ddd;
}

#kiwi .messages .msg .text {
  color: #ddd;
}
#kiwi .right-bar-content {
  background: #222;
}
#kiwi .memberlists ul li a.nick {
  color: #ccc;
}
#kiwi .right-bar-toggle {
  background: #333;
  color: #999;
}
#kiwi .controlbox .input .nick {
  color: #333;
}
#kiwi .messages .msg.highlight {
  background-color: #333;
}

#kiwi a {
  color: #f50;
}
#kiwi .messages .msg.action .text,
#kiwi .messages .msg.topic .text {
  color: #93E494;
}
#kiwi .toolbar .topic:hover div, #kiwi .toolbar .topic div {
  background-color: #222;
  color: #aaa;
}
#kiwi .toolbar .topic:hover div, #kiwi .toolbar .topic div:focus {
  background-color: #333;
}

#kiwi .controlbox .nickchange {
  background-color: #333;
  border-color: #666;  
}

#kiwi .ui_menu {
  color: #333;
}
#kiwi button {
  border-color: #444;
}
#kiwi .messages .last_seen {
    border-color: #555;
}